body{
    background-color: #f6f6f6;
}

span::selection,p::selection,pre::selection,input::selection,img::selection,div::selection,li::selection,em::selection,a::selection,i::selection,h1::selection,h2::selection,strong::selection,br::selection {
    color:#FFFFFF;
    background-color: #ff0000;
}